extends ../layout

block content
  h2 Edit Set
  | &nbsp;
  if set.length === 0
    p No flashcards available for this set.
  else
    table
      thead
        tr
          th Romaji
          th Katakana
          th Actions
      tbody
        each flashcard in set
          tr(id=`row-${flashcard.id}`)
            td= flashcard.romaji
            td= flashcard.katakana
            td
              button.go_next(onclick=`deleteKatakanaFlashcard('${flashcard.id}', document.getElementById('row-${flashcard.id}'))`) Delete
              | &nbsp;
              button.go_next(onclick=`editKatakanaFlashcard('${flashcard.id}')`) Edit

    script(src="../js/katakana_converter.js")
