extends ../layout

block title 
  title='KakuLearn | Katakana Flashcard Sets'
block content
  h1 Your Katakana Sets
  | &nbsp;
  if sets.length === 0
    p No Katakana sets available.
  else
    table
      thead
        tr
          th Set Name
          th Actions
      tbody
        each set in sets
          tr(id=`row-${set.id}`)
            td= set.name
            td
              button.go_next(onclick=`practiceKatakanaSet('${set.id}')`) Practice
              | &nbsp;
              button.go_next(onclick=`deleteKatakanaSet('${set.id}', document.getElementById('row-${set.id}'))`) Delete
              | &nbsp;
              button.go_next(onclick=`editKatakanaSet('${set.id}')`) Edit

  script(src="../js/katakana_converter.js")
