extends ../layout

block title 
  title='KakuLearn | Edit Hiragana Flashcard'
block content
  .breadcrumb
      a(href='/') Homepage
      span.separator › 
      a(href='/profile') Profile
      span.separator › 
      a(href='/hiragana_sets') Hiragana Sets
      span.separator › 
      a(href=`/edit/${setId}`) Edit Set
      span.separator.current-location › 
      a.current-location(href='') Edit Flashcard
  h1 Edit Flashcard
  form(action=`/flashcard/update/${flashcard.id}`, method="POST")
    label(for="romaji") Romaji:
    input(class="submition_form" type="text" id="romaji" name="romaji" value=flashcard.romaji)
    br
    label(for="hiragana") Hiragana:
    input(class="submition_form" type="text" id="hiragana" name="hiragana" value=flashcard.hiragana)
    br
    button.go_next(type="submit") Save
