extends ../layout

block title 
  title='KakuLearn | Hiragana Flashcard Sets'
block content
  .breadcrumb
          a(href='/') Homepage
          span.separator › 
          a(href='/profile') Profile
          span.separator.current-location › 
          a.current-location(href='/hiragana_sets') Hiragana Sets
  h1 Hiragana Sets
  | &nbsp;
  if sets.length === 0
    p No sets available.
  else
    table
      thead
        tr
          th Set Name
          th Actions
      tbody
        each set in sets
          tr(id=`row-${set.id}`) 
            td= set.name
            td
              button.go_next(onclick=`practiceSet('${set.id}')`) Practice
              | &nbsp;
              button.go_next(onclick=`deleteSet('${set.id}', document.getElementById('row-${set.id}'))`) Delete
              | &nbsp;
              button.go_next(onclick=`editSet('${set.id}')`) Edit

  script(src="../js/hiragana_converter.js")

